body{
	background: linear-gradient(to left, #932424, #111146);
	min-height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

button{
	padding: 15px;
	background: transparent;
	color: white;
	font-size: 1.2em;
	border-color: white;
	border-width: 1px;
	border-radius: 5px;
}

button a{
	text-decoration: none;
	color: white;
	font-size: 1.2em;
	border-color: white;
	border-width: 1px;
	border-radius: 5px;
}

#main{
	height: 60vh;
	width: 70vw;
	box-shadow: 0px 0px 40px black;
	border-radius: 20px;
	display: flex;
}

#main > div {
	width: 50%;
	height: 100%;
}

#main > div:nth-child(1) {
	background: #111146;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#main > div:nth-child(1) img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
}

#main > div:nth-child(1) p {
	color: white;
	letter-spacing: 30px;
	font-size: 1.5em;
	color: brown;
}

#main > div:nth-child(2) {
	position: relative;
	background: #932424;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#main > div:nth-child(2) input{
	width: 60%;
	background: transparent;
	margin: 10px 0;
	border: none;
	border-bottom: 1px solid white;
	padding-bottom: 5px;
	color: white;
}

#main > div:nth-child(2) input::placeholder{
	color: white;
	font-size: 1.1em;
}

#main > div:nth-child(2) div {
	width: 60%;
	padding-top: 25px;
	display: flex;
	justify-content: space-between;
}

#main button{
	padding: 8px 30px;
}

#main > div:nth-child(2) p{
	color: white;
	position: absolute;
	bottom: 20px;
}